nav.navbar {
  width: 90%;
  margin: auto;
  min-height: 4.8rem;
  @include border(1px, #e7e7e7, solid, right bottom left);
  background: #fff;
  padding-top: 0;
  padding-bottom: 0;

  @media #{$xs-screen} {
    background-color: #ffffffed;
  }

  a.navbar-brand {
    font-size: 1.8rem;
    color: $main-bg;
    height: 4.7rem;
    line-height: 3.8rem;
  }

  li {
    a {
      font-size: 1.4rem;
      padding: 1.4rem 0.2rem 1.4rem;

      @media #{$xs-screen} {
        padding: 0.3rem 1rem !important;
      }

      &:hover {
        background: $main-bg;
        color: #fff;
      }
    }

    &.active a {
      background: $main-bg;
      color: #fff;
    }
  }

  .navbar-toggler {
    @include border(3px , $main-bg, solid, all);
    width: 3.2rem;
    padding: 0.1rem 0.2rem;
  }

  .navbar-toggler-icon {
    background-color: $main-bg;
    height: 3px;
    width: 2.5rem;
    display: block;
    margin: 5px auto;
  }
}